@import "tailwindcss";

@theme {
  --color-primary: #2874f0;
  --color-secondary: #fb641b;
  --font-sans: "Inter", "sans-serif";
}

@layer base {
  body {
    @apply font-sans antialiased text-gray-900 bg-gray-50;
  }
}